[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	pager = less -r
	editor = vim
	trustctime = false
[push]
	default = simple
[color]
	diff = auto
	ui = true
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[user]
	email = euphrates.tigris@gmail.com
	name = lambdaydoty
